# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*~
.depend
*.in
m4/
config/
config.log
config.status
configure
aclocal.m4
autom4te.cache
Makefile
.deps
libtool
ipstats
